@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

.wrapper {
  @apply w-[98%] mx-auto max-w-350;
}

.hero-cta {
  @apply !px-3.5 !py-2 font-[500];
}

.hero-cta span {
  @apply !text-[15px];
}

/* Make slick slides equal height */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto !important;
}

.slick-slide > div {
  height: 100%;
}
