@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-custom-white: #fff;
  --color-custom-black: #000;
  --color-custom-navy-blue: #101624;
  --color-custom-blue: #0a101e;
  --color-custom-yellow: #fec544;
  --color-custom-dark-gray: #3f4551;
  --color-custom-midium-gray: #808080;
  --color-custom-light-gray: #a9adb8;
  --color-custom-grayish-blue: #232935;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  caret-color: transparent !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.phone-number::before {
  @apply absolute h-3 w-px bg-custom-white left-0 content-[''];
}

/*for wrapper*/
.wrapper {
  max-width: 1920px;
}
.wrapper {
  @apply w-5/6 mx-auto;
}

section .wrapper {
  @apply py-10 md:py-15 px-0;
}

.first-letter-caps {
  @apply capitalize;
}
.single-letter-caps::first-letter {
  @apply uppercase;
}

p {
  @apply text-custom-light-gray text-base leading-6;
}

h2 {
  @apply text-4xl md:text-8xl font-bold leading-20 md:leading-27 my-4 mx-0;
}

h3 {
  @apply uppercase relative text-center text-custom-yellow font-bold mb-16 text-2xl mb-16;
}

h3::after {
  @apply translate-x-[-50%] translate-y-[-50%] bg-custom-dark-gray absolute w-42 h-0.5 left-1/2 bottom-[-16px] content-[''];
}

h3::before {
  @apply translate-x-[-50%] translate-y-[-50%] absolute bg-custom-yellow w-18 h-0.5 left-1/2 bottom-[-16px] z-20 content-[''];
}

h4 {
  @apply capitalize text-4xl;
}

h5 {
  @apply text-custom-yellow text-2xl;
}

h6 {
  @apply text-custom-white text-xl;
}

.yellow-span {
  @apply text-custom-yellow text-2xl font-extralight;
}

.banner div {
  max-width: 1920px;
}

.info-list-item .info-span-right::before {
  @apply content-[':'];
}

.skill-name-percentage::before {
  @apply absolute bg-custom-yellow w-16 h-[2.5px] bottom-[-10px] z-50 content-[''];
}

.skill-name-percentage::after {
  @apply bg-custom-dark-gray absolute w-full h-[2.5px] bottom-[-10px] content-[''];
}

.resume-content-list-item::before {
  @apply content-[''] absolute w-[12px] h-[12px] rounded-full top-[-5px] left-0 border-2 border-custom-dark-gray -translate-x-1/2 -translate-y-1/2 bg-[#101624];
}

.resume-content-list-item:hover::before {
  @apply bg-custom-yellow;
}

.resume-content-list-item:last-child {
  @apply pt-[1px] px-11 pb-0;
}

.review-para::after {
  content: '';
  transform: translateX(-50%) rotate(45deg);
  @apply w-7 h-7 border-r border-r-custom-grayish-blue border-b border-b-custom-grayish-blue bg-custom-navy-blue absolute left-1/2 -bottom-3.5 z-30;
}

.review-list-item:hover .review-para::after {
  @apply border-custom-yellow;
}

.custom-slick-wrapper .slick-track {
  display: flex !important;
  gap: 1rem;
}

.custom-slick-wrapper {
  overflow-x: clip;
}

.banner h2 {
  @apply text-[70px] lg:text-8xl;
}

canvas {
  display: block;
}

.next-slick {
  @apply md:right-[-67px];
}
.prev-slick {
  @apply md:left-[-67px];
}
.projects .next-slick {
  @apply right-[-37px]  md:right-[-67px];
}
.projects .prev-slick {
  @apply left-[-37px] md:left-[-67px];
}

.reviews .wrapper {
  @apply !pb-0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #121c30; /* thumb color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0a101e; /* hover color */
}

section {
  overflow-x: clip;
}

.list-circle {
  list-style-type: circle;
}
